// Переменные проекта

$body-color:    #fff      // Фоновый цвет документа
$text-color:    #333      // Основной цвет текста

$main-color:    #444      // Главный цвет
$accent-color:  #444      // Акцентный цвет

$black-color:   #333      // Цвет черного
$light-color:   #f8f8ff   // Светлый цвет

$font-size:     15px      // Основной размер шрифта