/* Главный файл стилей */

@import 'vars';        // Переменные
@import 'mixins';      // Миксины
@import 'fonts';       // Шрифты
@import 'libs';        // Библиотеки
@import 'special';     // Специальные классы

/* ОСНОВНЫЕ СТИЛИ */

.logo {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 50px;
  &__image {
    width: 100%;
    height: 100%;
  }
}